body {
  background-color: white;
}

h1,h2 ,h3{
  color: black;
  text-shadow: 2px 2px grey;
  font-family: verdana;
}
<style>
.flex-container {
  display: flex;
  background-color:blue;
}

.flex-container > div {
  background-color: blue;
  margin: 5px;
  padding: 5px;
  font-size: 15px;
}

div {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: yellow;
  }
}
</style>